*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F8C6C0;
    width: 100vw;
    height:100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    
}

.bear-love{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bear-love img{
    height: 100vh;
}
i.fa-solid.fa-heart{
    margin-right: 5px;
}
.alert{
    position: absolute;
    flex-direction: column;
    width: 40%;
    margin-bottom: 5rem;
}
.d-flex.message{
    justify-content: space-between;
}

.hey{
    text-align: justify;
    margin-top: 3px;
}
.bear-love .alert{
    border-radius: 40px;
    padding:1.5rem;
    color: black;
    background-color: #EDE9E7;
    border-color: #EDE9E7;
}

.bear-love a{
    margin: 0 auto;
}
button.btn.btn-outline-success,
button.btn.btn-primary{
    margin-top: 1rem!important;
    font-weight: 500;
    padding: 0.37rem 0.75rem;
    color:#F59087;
    border-color: #F59087;
}

button.btn.btn-outline-success:hover,
button.btn.btn-outline-success:active,
button.btn.btn-outline-success:focus
{
    color:white;
    border-color: #F59087;
    background-color: #F59087;
    box-shadow: none;
}

.body-hello, #canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #47131E;
  }
  
  .o_heart{
    fill: #FFB3C3;
  }
  .i_heart{
    fill: #FCE3E9;
  }
  

  .container{
    padding: 0px 16px;
    padding-top: 0;
    max-width: 1024px;
    z-index: 1000;
    position: absolute;
    letter-spacing: 3px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .arrow_container{
    width: 100%;
    height: 100px;
    position: fixed;
    border: 1px solid black;
    z-index: 1000;
    bottom: 15px;
    left: 0px;
  }
  .col-md-6.content-tour-img, .img {
    padding: 0 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ;
    
}

.col-md-6.content-tour-text {
    padding: 48px 15px 48px 48px;
    color:White;
    
}
.col-md-6.content-tour-text h2{
    margin-bottom: 24px;
}
.col-md-6.content-tour-text p{
    color:#cdbaba
}

.row.statistics .col-md-3 {
    display: flex;
    flex-direction: column;
}
.row.statistics .col-md-3 strong {
    font-size: 28px;
    color: #F59087;
    font-weight: 600;
}

.row.statistics .col-md-3 span {
    font-size: 14px;
    margin-bottom: 10px;
    color: #e9ecef;
    letter-spacing: 0.5px;
    text-align: center;
}

a.hello{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

button.btn.btn-primary {
    color: white;
    background: #F59087;
    padding: 16px 24px;
    border-radius: 40px;
}

button.btn.btn-primary:hover{
    background-color: white;
    color:#F59087;
}

.body-video{
    background-image: url("./img/background-video.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.space {
    color: White;
    height: 210px;
    border-radius: 5px;
    position: relative;
}
.container-f{
    padding: 30px;
    width: 100vw;
}
 h3{
    margin-top: 3rem;
    text-align: center;
 }
 .content{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .content p {
    text-align: center;
    width: 70%;
 }


 button.btn.btn-primary.mb-4 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #F59087;
    box-shadow: 0 0 0 0 #F8C6C0;
    -webkit-animation: pulse 2s infinite;
    border-color: transparent;
}

button.btn.btn-primary.mb-4:hover{
    -webkit-animation: none;
}

@keyframes pulse {
    0% {
        /* transform: scale(.9); */
        box-shadow: 0 0 0 0 #F8C6C0;
    }
    70% {
        /* transform: scale(1); */
        box-shadow: 0 0 0 25px rgba(249, 171, 48, 0);
    }
      100% {
        /* transform: scale(.9); */
        box-shadow: 0 0 0 0 rgba(249, 171, 48, 0);
    }
  }


  .box {
    position: relative;
  }
  .box-body {
    position: relative;
    height: 200px;
    width: 200px;
    margin-top: 123.3333333333px;
    background-color: #cc231e;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(#762c2c,#ff0303);
  }
  .box-body .img{
    opacity: 0;
    transform: translateY(0%);
    transition: all 0.5s;
    margin: 0 auto;
    display: block;
  }
  .box-body:hover {
    cursor: pointer;
    -webkit-animation: box-body 1s forwards ease-in-out;
            animation: box-body 1s forwards ease-in-out;
  }
  .box-body:hover .img{
    opacity: 1;
    z-index: 0;
    transform: translateY(-270px);
  }

  .box-body:hover .box-lid {
    -webkit-animation: box-lid 1s forwards ease-in-out;
            animation: box-lid 1s forwards ease-in-out;
  }
  .box-body:hover .box-bowtie::before {
    -webkit-animation: box-bowtie-left 1.1s forwards ease-in-out;
            animation: box-bowtie-left 1.1s forwards ease-in-out;
  }
  .box-body:hover .box-bowtie::after {
    -webkit-animation: box-bowtie-right 1.1s forwards ease-in-out;
            animation: box-bowtie-right 1.1s forwards ease-in-out;
  }
  .box-body::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50px;
    background: linear-gradient(#ffffff,#ffefa0)
  }
  .box-lid {
    position: absolute;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 90%;
    height: 40px;
    background-color: #cc231e;
    height: 40px;
    width: 220px;
    border-radius: 5%;
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
  }
  .box-lid::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50px;
    background: linear-gradient(#ffefa0,#fff)
  }
  .box-bowtie {
    z-index: 1;
    height: 100%;
  }
  .box-bowtie::before, .box-bowtie::after {
    content: "";
    width: 83.3333333333px;
    height: 83.3333333333px;
    border: 16.6666666667px solid white;
    border-radius: 50% 50% 0 50%;
    position: absolute;
    bottom: 99%;
    z-index: -1;
  }
  .box-bowtie::before {
    left: 50%;
    -webkit-transform: translateX(-100%) skew(10deg, 10deg);
            transform: translateX(-100%) skew(10deg, 10deg);
  }
  .box-bowtie::after {
    left: 50%;
    -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
            transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  .mt-5{
    margin-top: 10rem!important;
  }
  @-webkit-keyframes box-lid {
    0%,
    42% {
      -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
              transform: translate3d(-50%, 0%, 0) rotate(0deg);
    }
    60% {
      -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
              transform: translate3d(-85%, -230%, 0) rotate(-25deg);
    }
    90%, 100% {
      -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
              transform: translate3d(-119%, 225%, 0) rotate(-70deg);
    }
  }
  
  @keyframes box-lid {
    0%,
    42% {
      -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
              transform: translate3d(-50%, 0%, 0) rotate(0deg);
    }
    60% {
      -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
              transform: translate3d(-85%, -230%, 0) rotate(-25deg);
    }
    90%, 100% {
      -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
              transform: translate3d(-119%, 225%, 0) rotate(-70deg);
    }
  }
  @-webkit-keyframes box-body {
    0% {
      -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
              transform: translate3d(0%, 0%, 0) rotate(0deg);
    }
    25% {
      -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
              transform: translate3d(0%, 25%, 0) rotate(20deg);
    }
    50% {
      -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
              transform: translate3d(0%, -15%, 0) rotate(0deg);
    }
    70% {
      -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
              transform: translate3d(0%, 0%, 0) rotate(0deg);
    }
  }
  @keyframes box-body {
    0% {
      -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
              transform: translate3d(0%, 0%, 0) rotate(0deg);
    }
    25% {
      -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
              transform: translate3d(0%, 25%, 0) rotate(20deg);
    }
    50% {
      -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
              transform: translate3d(0%, -15%, 0) rotate(0deg);
    }
    70% {
      -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
              transform: translate3d(0%, 0%, 0) rotate(0deg);
    }
  }
  @-webkit-keyframes box-bowtie-right {
    0%,
    50%,
    75% {
      -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
              transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
    }
    90%,
    100% {
      -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
              transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
      box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes box-bowtie-right {
    0%,
    50%,
    75% {
      -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
              transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
    }
    90%,
    100% {
      -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
              transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
      box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
    }
  }
  @-webkit-keyframes box-bowtie-left {
    0% {
      -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
              transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    }
    50%,
    75% {
      -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
              transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    }
    90%,
    100% {
      -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
              transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    }
  }
  @keyframes box-bowtie-left {
    0% {
      -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
              transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    }
    50%,
    75% {
      -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
              transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    }
    90%,
    100% {
      -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
              transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    }
  }


  .snowflake {
    --size: 1vw;
    width: var(--size);
    height: var(--size);
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5vh;
  }
  
  @keyframes snowfall {
    0% {
      transform: translate3d(var(--left-ini), 0, 0);
    }
    100% {
      transform: translate3d(var(--left-end), 110vh, 0);
    }
  }
  .snowflake:nth-child(1) {
    --size: 0.6vw;
    --left-ini: 9vw;
    --left-end: -8vw;
    left: 61vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -4s;
  }
  
  .snowflake:nth-child(2) {
    --size: 0.8vw;
    --left-ini: 1vw;
    --left-end: -5vw;
    left: 88vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(3) {
    --size: 0.8vw;
    --left-ini: -3vw;
    --left-end: -6vw;
    left: 80vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(4) {
    --size: 0.2vw;
    --left-ini: 1vw;
    --left-end: -7vw;
    left: 63vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -4s;
  }
  
  .snowflake:nth-child(5) {
    --size: 0.2vw;
    --left-ini: -6vw;
    --left-end: 5vw;
    left: 10vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -4s;
  }
  
  .snowflake:nth-child(6) {
    --size: 0.6vw;
    --left-ini: -2vw;
    --left-end: -9vw;
    left: 61vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -6s;
  }
  
  .snowflake:nth-child(7) {
    --size: 0.6vw;
    --left-ini: 10vw;
    --left-end: -1vw;
    left: 82vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -9s;
  }
  
  .snowflake:nth-child(8) {
    --size: 0.4vw;
    --left-ini: 10vw;
    --left-end: -8vw;
    left: 98vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -1s;
  }
  
  .snowflake:nth-child(9) {
    --size: 0.6vw;
    --left-ini: -5vw;
    --left-end: 0vw;
    left: 27vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -5s;
  }
  
  .snowflake:nth-child(10) {
    --size: 0.8vw;
    --left-ini: 6vw;
    --left-end: -4vw;
    left: 66vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -5s;
  }
  
  .snowflake:nth-child(11) {
    --size: 0.2vw;
    --left-ini: -8vw;
    --left-end: -2vw;
    left: 55vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -8s;
  }
  
  .snowflake:nth-child(12) {
    --size: 0.4vw;
    --left-ini: -1vw;
    --left-end: -6vw;
    left: 39vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -1s;
  }
  
  .snowflake:nth-child(13) {
    --size: 0.8vw;
    --left-ini: -6vw;
    --left-end: 9vw;
    left: 45vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -7s;
  }
  
  .snowflake:nth-child(14) {
    --size: 0.2vw;
    --left-ini: 7vw;
    --left-end: 5vw;
    left: 84vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -8s;
  }
  
  .snowflake:nth-child(15) {
    --size: 0.6vw;
    --left-ini: 5vw;
    --left-end: 6vw;
    left: 87vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -2s;
  }
  
  .snowflake:nth-child(16) {
    --size: 0.4vw;
    --left-ini: 1vw;
    --left-end: -3vw;
    left: 71vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -9s;
  }
  
  .snowflake:nth-child(17) {
    --size: 0.8vw;
    --left-ini: -1vw;
    --left-end: -2vw;
    left: 12vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(18) {
    --size: 0.6vw;
    --left-ini: -9vw;
    --left-end: 8vw;
    left: 81vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -5s;
  }
  
  .snowflake:nth-child(19) {
    --size: 0.6vw;
    --left-ini: 7vw;
    --left-end: -3vw;
    left: 13vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -5s;
  }
  
  .snowflake:nth-child(20) {
    --size: 1vw;
    --left-ini: 6vw;
    --left-end: 0vw;
    left: 94vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -5s;
  }
  
  .snowflake:nth-child(21) {
    --size: 0.8vw;
    --left-ini: 0vw;
    --left-end: -2vw;
    left: 39vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -10s;
  }
  
  .snowflake:nth-child(22) {
    --size: 0.4vw;
    --left-ini: 8vw;
    --left-end: -3vw;
    left: 32vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -10s;
  }
  
  .snowflake:nth-child(23) {
    --size: 0.8vw;
    --left-ini: 1vw;
    --left-end: -1vw;
    left: 7vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -9s;
  }
  
  .snowflake:nth-child(24) {
    --size: 0.2vw;
    --left-ini: 5vw;
    --left-end: -6vw;
    left: 69vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -4s;
  }
  
  .snowflake:nth-child(25) {
    --size: 0.8vw;
    --left-ini: -2vw;
    --left-end: 10vw;
    left: 66vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -10s;
  }
  
  .snowflake:nth-child(26) {
    --size: 0.4vw;
    --left-ini: -1vw;
    --left-end: 10vw;
    left: 81vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(27) {
    --size: 0.4vw;
    --left-ini: -1vw;
    --left-end: 0vw;
    left: 57vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -4s;
  }
  
  .snowflake:nth-child(28) {
    --size: 0.6vw;
    --left-ini: 9vw;
    --left-end: 8vw;
    left: 72vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -1s;
  }
  
  .snowflake:nth-child(29) {
    --size: 0.8vw;
    --left-ini: -9vw;
    --left-end: -3vw;
    left: 37vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -2s;
  }
  
  .snowflake:nth-child(30) {
    --size: 0.4vw;
    --left-ini: 3vw;
    --left-end: 10vw;
    left: 52vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -1s;
  }
  
  .snowflake:nth-child(31) {
    --size: 0.4vw;
    --left-ini: -2vw;
    --left-end: 6vw;
    left: 79vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -7s;
  }
  
  .snowflake:nth-child(32) {
    --size: 0.2vw;
    --left-ini: -8vw;
    --left-end: -1vw;
    left: 29vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -10s;
  }
  
  .snowflake:nth-child(33) {
    --size: 0.6vw;
    --left-ini: -7vw;
    --left-end: -1vw;
    left: 76vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(34) {
    --size: 0.4vw;
    --left-ini: 9vw;
    --left-end: 7vw;
    left: 97vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -10s;
  }
  
  .snowflake:nth-child(35) {
    --size: 0.2vw;
    --left-ini: -9vw;
    --left-end: 3vw;
    left: 97vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -1s;
  }
  
  .snowflake:nth-child(36) {
    --size: 0.2vw;
    --left-ini: 4vw;
    --left-end: -7vw;
    left: 50vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -7s;
  }
  
  .snowflake:nth-child(37) {
    --size: 0.8vw;
    --left-ini: -2vw;
    --left-end: 8vw;
    left: 8vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -9s;
  }
  
  .snowflake:nth-child(38) {
    --size: 0.4vw;
    --left-ini: 4vw;
    --left-end: -6vw;
    left: 60vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -7s;
  }
  
  .snowflake:nth-child(39) {
    --size: 0.4vw;
    --left-ini: -1vw;
    --left-end: 8vw;
    left: 42vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -2s;
  }
  
  .snowflake:nth-child(40) {
    --size: 0.4vw;
    --left-ini: 8vw;
    --left-end: -2vw;
    left: 39vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -9s;
  }
  
  .snowflake:nth-child(41) {
    --size: 0.2vw;
    --left-ini: 4vw;
    --left-end: -9vw;
    left: 64vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -6s;
  }
  
  .snowflake:nth-child(42) {
    --size: 1vw;
    --left-ini: 3vw;
    --left-end: 4vw;
    left: 8vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -1s;
  }
  
  .snowflake:nth-child(43) {
    --size: 0.4vw;
    --left-ini: 10vw;
    --left-end: 0vw;
    left: 94vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -2s;
  }
  
  .snowflake:nth-child(44) {
    --size: 0.4vw;
    --left-ini: 4vw;
    --left-end: 1vw;
    left: 89vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -3s;
  }
  
  .snowflake:nth-child(45) {
    --size: 0.2vw;
    --left-ini: -7vw;
    --left-end: 2vw;
    left: 4vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -6s;
  }
  
  .snowflake:nth-child(46) {
    --size: 1vw;
    --left-ini: 0vw;
    --left-end: -4vw;
    left: 53vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -4s;
  }
  
  .snowflake:nth-child(47) {
    --size: 0.2vw;
    --left-ini: 10vw;
    --left-end: 8vw;
    left: 11vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -7s;
  }
  
  .snowflake:nth-child(48) {
    --size: 1vw;
    --left-ini: 10vw;
    --left-end: 7vw;
    left: 75vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -5s;
  }
  
  .snowflake:nth-child(49) {
    --size: 0.8vw;
    --left-ini: 0vw;
    --left-end: 7vw;
    left: 68vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -9s;
  }
  
  .snowflake:nth-child(50) {
    --size: 0.8vw;
    --left-ini: -7vw;
    --left-end: -9vw;
    left: 82vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -4s;
  }
  
  /* added small blur every 6 snowflakes*/
  .snowflake:nth-child(6n) {
    filter: blur(1px);
  }




/* Reponsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .alert {
        width: 80%;
        margin-bottom: 10rem;
    }
    .col-md-6.content-tour-img {
        height: 820px;
    }
    .col-md-6.content-tour-text {
        padding: 48px 20px 48px 20px;
        text-align: justify;
    }
    a.col-md-3.content-best-img{
        display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    }
    .space.img{
        width:260px;
    }
    .row.content-tour{
        justify-content: center;
        align-items: center;
    }
    .col-md-6.content-tour-img{
        height: 100vh;
        background-position: center bottom;
    }
    .space{
        height:210px;
        margin-bottom: 15px;
    }
    .modal-content{
        justify-content: center;
        align-items: center;
    }
    video{
        width: 300px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-md-6.content-tour-img{
        background-position: center bottom;
        height: 140vh;
    }
    .space{
        max-height:550px;
        margin-bottom: 15px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .alert {
        width: 80%;
    }
    .col-md-6.content-tour-img{
        height: 100vh;
        margin-top: -17rem;
}
    
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .alert {
        width: 40%;
        margin-bottom: 10rem;
    }
    
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}